# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

- Popular Languages in Data Science
- Categories of Data Science Tools
- Libraries for Data Science

Some of the popular languages that Data Scientists use are:
- Python
- R
- Scala

Some of the commonly used libraries used by Data Scientists include:
- Numpy
- SciPy
- Pandas



|Data Science Tools|
|------|
|Apache Spark|
|Tableau|
|Matplotlib|

### Below are a few examples of evaluating arithmetic expressions in Python

<!-- This a simple arithmetic expression to multiply then add integers -->

In [ ]:
# This a simple arithmetic expression to mutiply then add integers

<!-- (3*4)+5 -->

In [3]:
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335

## Author

Marian Therese Makisig